header{
    color:red;
    background-color: blue;
    height: 80px;
}
img{
    height: 80px;
}
#datos{
    color: blue;
    height: 150px;
}
.btn{
    float: right;
    margin-top: 25px;
    margin-right: 25px;
 }